{% extends '@MindBodyPayments/Tpaga/payment.html.twig' %}

{% set discountAmount = (customerDiscount.discount.mainProduct.price*(customerDiscount.discount.discountPercentage/100) ) %}
{% set discountedPrice = customerDiscount.discount.products.0.price - discountAmount %}

{% block discountedProductForm %}

    {% if form.products is defined  and customerDiscount is defined %}


        {% if form.products.children|length == 0 %}

        {% else %}
            <div class="card bg-light mb-2" style="box-shadow: none;">
                <div class="card-body">
                    <h4 class="card-title">Escoge el plan que quieres comprar con tu descuento:</h4>
                    <div class="row">
                        <div class="col-md-4"></div>
                        <div class="col-md-8 text-left">
                            {% for radio in form.products.children %}
                                <div class="form-check">
                                    {{ form_widget(radio, {attr: {
                                        class: 'form-check-input'
                                    }}) }}
                                    {{ form_label(radio,null,{label_attr:{
                                        class: 'form-check-label'
                                    }}) }}
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}

    {% endif %}
{% endblock %}

{% block purchaseInformation %}
    <p>Est&aacute;s usando tu descuento &uacute;nico en:
        <strong id="product_name">
            {% if form.products.children|length == 0 %}
                {{ form.products.vars.label }}
            {% else %}
                {{ customerDiscount.discount.mainProduct.name }}
            {% endif %}
        </strong></p>

    <div id="discount_box">
        <p>
            Est&aacute;s ahorrando $<span id="total_discount">{{ discountAmount|number_format(0,',','.') }}</span>
        </p>
    </div>
    <p>Total a pagar:
        <span id="grand_total" style="display: none;"></span>
        <span id="grand_total_after_discount">${{ app.request.session.get('grandTotal')|number_format(0,',','.') }}</span>
    </p>
{% endblock %}

{% block discountButton %}{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $('input[name="mind_body_payments_bundle_credit_card_with_limited_discount_type[products]"]').change(function () {
            var productMerchantId = $(this).val();
            $.ajax({
                url: '{{ path('calculate_limited_discount') }}',
                type: 'POST',
                data: {
                    productMerchantId: productMerchantId
                },
                success: function (data) {
                    $('#total_discount').text(data.discountAmount);
                    $('#grand_total_after_discount').text('$' + data.grandTotal);
                    $('#product_name').text(data.productName);
                }
            });
        });
    </script>
{% endblock %}