{% extends '@MiguelAlcainoMindbodyPayments/Admin/base.html.twig' %}

{% block body %}
    <h1>Product</h1>

    <table>
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ product.id }}</td>
        </tr>
        <tr>
            <th>Name</th>
            <td>{{ product.name }}</td>
        </tr>
        <tr>
            <th>Price</th>
            <td>{{ product.price }}</td>
        </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('admin_product_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('admin_product_edit', { 'id': product.id }) }}">Edit</a>
        </li>
    </ul>
{% endblock %}
