<table class="table table-striped table-responsive {{ addedClasses|default('') }}">
    <thead>
    <tr>
        <th>Customer</th>
        <th>Email</th>
        <th>Fecha</th>
        <th>TPaga Status</th>
        <th>Items</th>
        <th>Monto</th>
        <th>Descuento</th>
        <th>Estudio</th>
        <th>Opciones</th>
    </tr>
    </thead>
    <tbody>
    {% for transactionRecord in transactionRecords %}
        <tr class="{% if transactionRecord.status is same as('voided') %}table-warning{% elseif transactionRecord.mindbodyCheckoutFail %}table-danger{% endif %}">
            <td>{{ transactionRecord.customer }}</td>
            <td>{{ transactionRecord.customer.email|default('sin email') }}</td>
            <td>{{ transactionRecord.created|date('d M Y, H:i') }}</td>
            <td>{{ transactionRecord.status }}</td>
            <td>
                {% for transactionItem in transactionRecord.transactionItems %}
                    <strong>{{ transactionItem.name }}</strong><br>
                {% endfor %}
            </td>
            <td>{{ currency }}{{ transactionRecord.amount|price_format }}</td>
            <td>{{ currency }}{{ transactionRecord.discountAmount|price_format }}</td>
            <td>{{ transactionRecord.userPreferredLocation }}</td>
            <td>
                <a class="btn btn-primary btn-sm"
                   href="{{ path('admin_transactions_show', { 'id': transactionRecord.id }) }}">Detalle</a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>