{% extends '::base.html.twig' %}

{% block title %}Pago exitoso - {{ parent() }}{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-12 col-xs-12 mt-2 mt-md-2">
            {% if errorMessage is defined %}
                <div class="alert alert-danger">{{ errorMessage }}</div>
            {% endif %}
            <div class="alert alert-success" role="alert">
                <h4 class="alert-heading">Felicidades! Tu compra ha sido exitosa.</h4>
                <p>Un correo ha sido enviado confirmando la compra.</p>
                <table class="table">
                    <tbody>
                    {% if transactionRecord.transactionItems.0 is defined %}
                        <tr>
                            <th>Producto</th>
                            <td>
                                <strong>{{ transactionRecord.transactionItems.0.name }}</strong>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <th>Producto</th>
                            <td>
                                <strong>Estamos confirmando tu compra. Recibir&aacute;s un correo electr&oacute;nico con
                                    la confirmaci&oacute;n final dentro de poco.</strong>
                            </td>
                        </tr>
                    {% endif %}
                    <tr>
                        <th>Usuario</th>
                        <td>
                            <strong>{{ transactionRecord.customer.firstName }} {{ transactionRecord.customer.lastName }}</strong>
                        </td>
                    </tr>
                    <tr>
                        <th>Fecha y hora de compra</th>
                        <td><strong>{{ transactionRecord.created|date('d-m-Y H:i') }}</strong></td>
                    </tr>
                    {% if transactionRecord.serviceExpirationDate is not same as(null) %}
                        <tr>
                            <th>Fecha de expiraci&oacute;n del servicio</th>
                            <td><strong>{{ transactionRecord.serviceExpirationDate|date('d-m-Y',false) }}</strong></td>
                        </tr>
                    {% endif %}
                    <tr>
                        <th scope="row">Monto pagado</th>
                        {% if transactionRecord.amount is not same as(null) %}
                            <td>
                                <strong>${{ transactionRecord.amount|number_format(0,',','.') }}</strong></td>
                        {% else %}
                            <td><strong>${{ grandTotal|number_format(0,',','.') }}</strong></td>
                        {% endif %}
                    </tr>
                    {% if discountCode is not same as(null) %}
                        <tr>
                            <th scope="row">C&oacute;digo de descuento</th>
                            <td><strong>{{ discountCode }}</strong></td>
                        </tr>
                    {% endif %}
                    <tr>
                        <th scope="row">N&uacute;mero de cuotas</th>
                        <td><strong>{{ transactionRecord.installments }}</strong></td>
                    </tr>
                    {% if transactionRecord.merchantPurchaseId is not same as(null) %}
                        <tr>
                            <th scope="row">N&uacute;mero de orden</th>
                            <td><strong>{{ transactionRecord.merchantPurchaseId }}</strong></td>
                        </tr>
                    {% endif %}
                    <tr>
                        <th scope="row">C&oacute;digo de autorizaci&oacute;n Bancario</th>
                        <td><strong>{{ transactionRecord.authorizationCode }}</strong></td>
                    </tr>
                    </tbody>
                </table>
                <p class="mb-0">Haz click <a href="{{ main_host }}/{{ booking_page }}">aqui para reservar una
                        bicicleta</a>. Puedes <a onclick="window.print();" href="javascript:void(0);">imprimir esta p&aacute;gina</a>
                    para tus registros.</p>
            </div>
        </div>
    </div>
{% endblock %}